

@media screen and (max-width: 1024px){
    html{
        font-size: 14px;
    }
    .card{
        .info{
            width: 85%;
        }
    }
}

@media screen and (max-width: 960px){
    html{
        font-size: 13px;
    }
    .menu{
        .card{
            width: 27vw;
            height: 42vw;
            max-width: none;
            max-height: none;
            margin-bottom: 1.5rem; 
        }
        .card:nth-child(odd){
            margin-right: 4rem;
        }
        .card:nth-child(even){
            margin-right: 0;
        }
        .type{
            padding: 0 3.5rem;
        }
    }
    
}

@media screen and (max-width: 768px){
    .content{
        .introduction{
            padding: 2rem;
            .description{
                width: 90%;
            }
        }
    }
    .menu{
        .card{
            .info{
                width: 92.5%;
                height: 95%;
            }
        }
    }
    
}

@media screen and (max-width: 640px){
    html{
        font-size: 12px;
    }
    .menu{
        .card{
            width: 35vw;
            height: 57vw;
        }
        .card:nth-child(odd){
            margin-right: 2rem;
        }
        .card:nth-child(even){
            margin-right: 0;
        }
        .type{
            padding: 0 2rem;
        }
    }
    .content{
        .description{
            font-size: 1.4rem !important;
            .logo{
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .content{
        .introduction{
            .heading{
                h2{
                    font-size: 2rem;
    
                }
            }
            .description{
                font-size: 1.3rem;
                .logo:last-of-type{
                    font-size: 1.1rem;
                }
            }
            
        }
    }
    .menu{
        .card{
            width: 60vw;
            height: 93vw;
            .info{
                font-size: 1.4rem; 
            }
        }
        .card:nth-child(odd){
            margin-right: 0;
        }
        .card:nth-child(even){
            margin-right: 0;
        }
        .type{
            padding: 0 2rem;
        }
    }
}