@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@import 'variables.scss';
@import 'mixins.scss';

@media screen and (max-width: 1024px){
    html{
        font-size: 1.4*$font-size;
        line-height: $line-height
    }
    .card{
        .info{
            width: 85%;
        }
    }
}

@media screen and (max-width: 960px){
    html{
        font-size: 1.4*$font-size;
        line-height: $line-height
    }
    .contacts{
        font-size: 1.4rem;
    }
    .menu{
        .card{
            width: 27vw;
            height: 42vw;
            max-width: none;
            max-height: none;
            margin-bottom: 1.5rem; 
        }
        .card:nth-child(odd){
            margin-right: 4rem;
        }
        .card:nth-child(even){
            margin-right: 0;
        }
        .type{
            padding: 0 3.5rem;
        }
    }
}

@media screen and (max-width: 768px){
    .content{
        .introduction{
            padding: 2.5rem 1.5rem;
            .description{
                width: 90%;
            }
        }
    }
    .menu{
        .card{
            .info{
                width: 92.5%;
                height: 95%;
            }
        }
    }
    .contacts{
        grid-template-columns: 80%; 
        justify-content: center;
        .separator{
            width: 95%;
            height: 3px;
            margin: 2rem 0;
        }
        .about{
            width: 75%;
        }
        .partnership{
            width: 75%;
        }
    }
}

@media screen and (max-width: 640px){
    html{
        font-size: 1.4*$font-size;
        line-height: $line-height
    }
    .menu{
        .card{
            width: 35vw;
            height: 57vw;
        }
        .card:nth-child(odd){
            margin-right: 2rem;
        }
        .card:nth-child(even){
            margin-right: 0;
        }
        .type{
            padding: 0 2rem;
        }
    }
    .content{
        .description{
            font-size: 1.4rem !important;
            .logo{
                font-size: 1.2rem;
            }
        }
    }
    .nav{
        position: relative;
        .nav-links{
            display: none;
            li a{
                font-size: 2rem;
            }
            li{
                margin-bottom: 0.5rem;
            }
            li:last-of-type{
                margin-bottom: 0;
            }
        }
        i{
            z-index: 1010;
        }
        label{
            i{
              display: inline-block;
              position: absolute;
              top: 50%;
              right: 5%;
              font-size: 2.5rem;
              transform: translateY(-50%);
            }
        }
    }
    #menu-toggle {
        display: none;
    }
    #menu-toggle:checked + header + .container{
        display: none;
    }
      
    #menu-toggle:checked + header .nav{
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
      
    #menu-toggle:checked + header .nav i:before{
        content: '\f00d';
    }

    #menu-toggle:checked + header .nav i{
        top: 5% !important;
    }
      
    #menu-toggle:checked + header .nav .nav-links{
        @include delay;
        background: #d8d6de;
        z-index: 1001;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu-toggle:checked + header .nav .nav-links li{
        opacity: 0;
        animation: menu-in 0.5s linear forwards;
    }

    .contacts{
        grid-template-columns: 90%;
    }
}



@media screen and (max-width: 480px){
    .content{
        .introduction{
            .heading{
                h2{
                    font-size: 2rem;
    
                }
            }
            .description{
                font-size: 1.3rem;
                .logo:last-of-type{
                    font-size: 1.1rem;
                }
            }
            
        }
        .gallery-container{
            div{
                .hover{
                    .btn{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .menu{
        .card{
            width: 62vw;
            height: 97.5vw;
            .info{
                font-size: 1.3rem; 
            }
        }
        .card:nth-child(odd){
            margin-right: 0;
        }
        .card:nth-child(even){
            margin-right: 0;
        }
        .type{
            padding: 0 2rem;
        }
    }
    .contacts{
        grid-template-columns: 100%;
        padding: 1rem;
        .about, .partnership{
            width: 100%;
        }
    }
   
}