<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/" class="nav-logo">
                <span>Т</span><span>И</span><span>П</span>
                <div class="line-r-top"></div>
                <div class="line-r-down"></div>
            </a>
            <ul class="nav-links">
                <li>
                    <a href="#">Начало</a>
                    <div class="line"></div>
                </li>
                <li>
                    <a href="">Меню</a>
                    <div class="line"></div>
                </li>
                <li>
                    <a href="">Контакти</a>
                    <div class="line"></div>
                </li>
                <li>
                    <a href="">Вход</a>
                    <div class="line"></div>
                </li>
               
                
            </ul>
        </div>
    </header>

    {{content}}
</body>
</html>